# Django
DEBUG=True
DJANGO_SECRET_KEY=secret-key
ALLOWED_HOSTS=localhost 127.0.0.1
CORS_ORIGINS_HOSTS=http://localhost:3000 http://127.0.0.1:3000

# Database
POSTGRES_DB=altiora_db
POSTGRES_USER=altiora_user
POSTGRES_PASSWORD=altiora_password
POSTGRES_PORT=5432
POSTGRES_HOST=localhost  # Для локальной разработки
# POSTGRES_HOST=postgres  # Для Docker (service name)


# RabbitMQ
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=pass

# Celery
CELERY_HOST=localhost  # Для локальной разработки
# CELERY_HOST=rabbitmq  # Для Docker

# Настройки SMTP
EMAIL_HOST=smtp.mailtrap.io  #TODO заменить на реальные настройки можно использовать https://mailtrap.io/ для тестирования
EMAIL_HOST_USER=your_user #TODO заменить на реальные настройки
EMAIL_HOST_PASSWORD=your_pass #TODO заменить на реальные настройки
EMAIL_PORT=587 #TODO заменить на реальные настройки
DEFAULT_FROM_EMAIL=noreply@altiora.local #TODO заменить на реальные настройки
ADMIN_EMAIL=admin@example.com #TODO заменить на реальные настройки

# Безопасность админки
ADMIN_HASH=your_secure_hash_here #TODO заменить на реальный хеш для доступа к админке